/* line 2, ../../scss/graphics/map.scss */
path.country {
  stroke: #ffffff;
  stroke-width: 0.3;
  fill-opacity: 1;
}

/* line 8, ../../scss/graphics/map.scss */
path.country.hover {
  fill-opacity: 0.7 !important;
}

/* line 12, ../../scss/graphics/map.scss */
img#iarc {
  position: absolute;
  bottom: -80px;
  left: 50px;
  height: 30px;
  z-index: 2;
}

/* line 20, ../../scss/graphics/map.scss */
img#who {
  bottom: -85px;
  right: 50px;
  width: 45px;
  z-index: 2;
}

/* line 27, ../../scss/graphics/map.scss */
div#copyright-footer-map {
  position: absolute;
  bottom: -55px;
  width: 200px;
  right: 950px;
  font-size: 0.8em;
  text-align: justify;
  line-height: 14px;
}

/* line 37, ../../scss/graphics/map.scss */
div#txt-footer-map {
  position: absolute;
  bottom: -75px;
  width: 80%;
  left: 200px;
  font-size: 0.6em;
  text-align: center;
  line-height: 14px;
}

/* line 47, ../../scss/graphics/map.scss */
.footer-map {
  position: relative;
}

/* line 51, ../../scss/graphics/map.scss */
svg#legend {
  position: absolute;
  left: 450px;
  bottom: -40px;
}

/* line 57, ../../scss/graphics/map.scss */
svg#legend_bubble {
  position: absolute;
  left: 650px;
  bottom: -40px;
}

/* line 63, ../../scss/graphics/map.scss */
svg#legend .for_bubble {
  display: none;
}

/* line 67, ../../scss/graphics/map.scss */
.unit-label {
  font-size: 16px;
  font-weight: 500;
  text-anchor: middle;
  text-decoration: underline;
}

/* line 74, ../../scss/graphics/map.scss */
.subunit-label {
  fill: #777575;
  fill-opacity: 0;
  font-size: 2px;
  font-weight: 300;
  text-anchor: middle;
}

/* line 82, ../../scss/graphics/map.scss */
.subunit-label.selected {
  fill: #000;
  font-size: 6px;
}

/* line 87, ../../scss/graphics/map.scss */
.subunit-label.shown {
  fill-opacity: 1;
}

/* line 91, ../../scss/graphics/map.scss */
.subunit-label.zoomed {
  fill-opacity: 0.6;
}

/* line 95, ../../scss/graphics/map.scss */
div#hubPanel, div#countryPanel, div#hubActivities {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 120px;
  right: -53%;
  transition: all .7s ease-in-out;
  background-color: #f7f7f7;
  padding: 25px;
  width: 50%;
  height: 65%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}
/* line 110, ../../scss/graphics/map.scss */
div#hubPanel a.close, div#hubPanel a.back, div#countryPanel a.close, div#countryPanel a.back, div#hubActivities a.close, div#hubActivities a.back {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  background: #fff;
  border-radius: 15px;
  cursor: pointer;
}
/* line 124, ../../scss/graphics/map.scss */
div#hubPanel a.close:hover, div#hubPanel a.back:hover, div#countryPanel a.close:hover, div#countryPanel a.back:hover, div#hubActivities a.close:hover, div#hubActivities a.back:hover {
  text-decoration: none;
  opacity: 0.7;
}
/* line 130, ../../scss/graphics/map.scss */
div#hubPanel a.back, div#countryPanel a.back, div#hubActivities a.back {
  left: 20px;
  right: auto;
}
/* line 135, ../../scss/graphics/map.scss */
div#hubPanel .show, div#countryPanel .show, div#hubActivities .show {
  right: 0px;
}
/* line 139, ../../scss/graphics/map.scss */
div#hubPanel h2, div#countryPanel h2, div#hubActivities h2 {
  color: #1e4273;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 147, ../../scss/graphics/map.scss */
div#hubPanel h2.hub-name, div#countryPanel h2.hub-name, div#hubActivities h2.hub-name {
  text-align: center;
  background: none;
  padding-top: 0;
  margin-bottom: 15px;
}
/* line 154, ../../scss/graphics/map.scss */
div#hubPanel div, div#countryPanel div, div#hubActivities div {
  text-align: justify;
  font-size: 13px;
  line-height: 15px;
}
/* line 160, ../../scss/graphics/map.scss */
div#hubPanel #gallery_hub, div#countryPanel #gallery_hub, div#hubActivities #gallery_hub {
  float: left;
  display: none;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 167, ../../scss/graphics/map.scss */
div#hubPanel #gallery_hub li, div#countryPanel #gallery_hub li, div#hubActivities #gallery_hub li {
  float: left;
  margin-right: 10px;
  position: relative;
}
/* line 172, ../../scss/graphics/map.scss */
div#hubPanel #gallery_hub li img.zoom, div#countryPanel #gallery_hub li img.zoom, div#hubActivities #gallery_hub li img.zoom {
  position: absolute;
  display: block;
  transition: all 0.7s ease-in-out;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: 35px;
  display: block;
}
/* line 183, ../../scss/graphics/map.scss */
div#hubPanel #gallery_hub li img.gallery, div#countryPanel #gallery_hub li img.gallery, div#hubActivities #gallery_hub li img.gallery {
  height: 100px;
  opacity: 0.7;
}
/* line 186, ../../scss/graphics/map.scss */
div#hubPanel #gallery_hub li img.gallery:hover, div#countryPanel #gallery_hub li img.gallery:hover, div#hubActivities #gallery_hub li img.gallery:hover {
  opacity: 1;
}
/* line 189, ../../scss/graphics/map.scss */
div#hubPanel #gallery_hub li img.gallery:hover + img.zoom, div#countryPanel #gallery_hub li img.gallery:hover + img.zoom, div#hubActivities #gallery_hub li img.gallery:hover + img.zoom {
  display: block;
}

/* line 199, ../../scss/graphics/map.scss */
div#hubActivities {
  overflow-y: hidden;
}

/* line 203, ../../scss/graphics/map.scss */
ul.list_visits, ul.list_courses {
  width: 40%;
  float: left;
}

/* line 208, ../../scss/graphics/map.scss */
ul.list_visits li, ul.list_courses li {
  float: left;
  width: 100%;
}

/* line 213, ../../scss/graphics/map.scss */
#hubPanel p {
  line-height: 17px;
  text-align: justify;
  float: left;
  padding-left: 0px;
}

/* line 220, ../../scss/graphics/map.scss */
div#hubPanel.show, div#countryPanel.show, div#hubActivities.show {
  right: 0px;
}

/* line 224, ../../scss/graphics/map.scss */
div#hubPanel p img, div#hubActivities p img {
  margin-bottom: 10px;
}

/* line 228, ../../scss/graphics/map.scss */
div#hubPanel p img[align="left"] {
  margin-right: 10px;
  margin-bottom: 0px;
}

/* line 233, ../../scss/graphics/map.scss */
div#hubPanel p img[align="right"] {
  margin-left: 10px;
  margin-bottom: 0px;
}

/* line 239, ../../scss/graphics/map.scss */
div.hub-line {
  position: absolute;
  width: 100%;
  left: 0;
  height: 5px;
}
/* line 244, ../../scss/graphics/map.scss */
div.hub-line.top {
  top: 0;
}
/* line 247, ../../scss/graphics/map.scss */
div.hub-line.bottom {
  bottom: 0;
}

/* line 253, ../../scss/graphics/map.scss */
div#hubPanel h2, div#countryPanel h2 {
  color: #1e4273;
  width: 100%;
}
/* line 257, ../../scss/graphics/map.scss */
div#hubPanel h3, div#countryPanel h3 {
  font-size: 14px;
  color: #000;
  padding: 5px 0px;
  border-bottom: solid 2px white;
  float: left;
  width: 100%;
  margin-top: 0px;
  text-transform: uppercase;
}
/* line 269, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul, div#countryPanel .baseline ul {
  margin-left: 0px;
  padding-left: 0;
}
/* line 272, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li, div#countryPanel .baseline ul li {
  display: inline-block;
  width: 33%;
  color: #fff;
}
/* line 276, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li .block, div#countryPanel .baseline ul li .block {
  width: 90%;
  margin: auto;
  /* height: 50px; */
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
/* line 286, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li .block select, div#countryPanel .baseline ul li .block select {
  width: 105px;
  font-size: 16px;
  /* color: #000; */
  background: none;
  border: none;
}
/* line 292, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li .block select option, div#countryPanel .baseline ul li .block select option {
  color: #000;
}
/* line 296, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li .block a, div#countryPanel .baseline ul li .block a {
  color: #fff;
  text-decoration: none;
}
/* line 300, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li .block:hover, div#countryPanel .baseline ul li .block:hover {
  background: #ccc;
  color: #000;
}
/* line 303, ../../scss/graphics/map.scss */
div#hubPanel .baseline ul li .block:hover a, div#countryPanel .baseline ul li .block:hover a {
  color: #000;
}
/* line 313, ../../scss/graphics/map.scss */
div#hubPanel p, div#countryPanel p {
  padding-left: 5px;
  font-size: 13px;
  line-height: 14px;
  text-align: justify;
}
/* line 319, ../../scss/graphics/map.scss */
div#hubPanel .tab-content ul, div#countryPanel .tab-content ul {
  width: 100%;
  line-height: 16px;
  margin-top: 0px;
  font-size: 13px;
}
/* line 326, ../../scss/graphics/map.scss */
div#hubPanel ul li, div#countryPanel ul li {
  max-width: 90%;
}
/* line 329, ../../scss/graphics/map.scss */
div#hubPanel p img, div#countryPanel p img {
  max-width: 50%;
  height: auto;
  margin: 0 15px 5px 0;
}
/* line 334, ../../scss/graphics/map.scss */
div#hubPanel #chart, div#countryPanel #chart {
  width: 550px;
  height: 250px;
}
/* line 338, ../../scss/graphics/map.scss */
div#hubPanel .tab-content ul li, div#countryPanel .tab-content ul li {
  list-style-type: disc;
}
/* line 342, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container, div#countryPanel #tabs-container {
  margin: 20px 0;
}
/* line 344, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tabs-menu, div#countryPanel #tabs-container .tabs-menu {
  height: 30px;
  float: left;
  clear: both;
  padding: 0;
  margin: 0;
}
/* line 350, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tabs-menu li, div#countryPanel #tabs-container .tabs-menu li {
  height: 30px;
  line-height: 30px;
  float: left;
  float: left;
  padding: 0 15px;
  margin-right: 10px;
  background-color: #ccc;
  border-top: 1px solid #d4d4d1;
  border-right: 1px solid #d4d4d1;
  border-left: 1px solid #d4d4d1;
}
/* line 362, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tabs-menu li.current, div#countryPanel #tabs-container .tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 5;
}
/* line 369, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tabs-menu li a, div#countryPanel #tabs-container .tabs-menu li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 378, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tabs-menu .current a, div#countryPanel #tabs-container .tabs-menu .current a {
  color: #2e7da3;
}
/* line 382, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tab, div#countryPanel #tabs-container .tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 390, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tab-content, div#countryPanel #tabs-container .tab-content {
  width: 95%;
  padding: 10px;
  display: none;
  font-size: 0.9em;
}
/* line 395, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tab-content table, div#countryPanel #tabs-container .tab-content table {
  width: 100%;
  margin: 5px 0;
  border-collapse: collapse;
  display: block;
  position: relative;
}
/* line 402, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tab-content table tr:nth-child(odd), div#countryPanel #tabs-container .tab-content table tr:nth-child(odd) {
  background-color: #e0dede;
}
/* line 405, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tab-content table tr td, div#countryPanel #tabs-container .tab-content table tr td {
  padding: 3px;
  width: 50%;
  font-size: 0.8em;
}
/* line 410, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container .tab-content table tr td:nth-child(2), div#countryPanel #tabs-container .tab-content table tr td:nth-child(2) {
  text-align: right;
}
/* line 416, ../../scss/graphics/map.scss */
div#hubPanel #tabs-container #tab-1, div#countryPanel #tabs-container #tab-1 {
  display: block;
}
/* line 421, ../../scss/graphics/map.scss */
div#hubPanel .item, div#countryPanel .item {
  background: #fff;
  background: white;
  padding: 10px;
  box-shadow: 0 3px 0 #c5d8e5;
  margin-bottom: 15px;
  min-height: 40px;
}

/* line 433, ../../scss/graphics/map.scss */
div#countryPanel
button.btn_zoom {
  position: absolute;
}

/* line 439, ../../scss/graphics/map.scss */
ul.hubCountries {
  padding-left: 0px;
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  margin-top: 10px;
}
/* line 447, ../../scss/graphics/map.scss */
ul.hubCountries li {
  float: left;
  width: auto;
  margin: 0 5px 5px 0;
}
/* line 451, ../../scss/graphics/map.scss */
ul.hubCountries li a {
  display: block;
  border-left: solid 3px transparent;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 14px;
  transition: all .1s ease-in-out;
  text-decoration: none;
  color: #fff;
}
/* line 460, ../../scss/graphics/map.scss */
ul.hubCountries li a:hover {
  background: #ccc;
}

/* line 469, ../../scss/graphics/map.scss */
.canTooltip {
  width: 150px;
  padding: 10px;
  background: #ccc;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 95px;
  display: none;
  z-index: 10;
}

/* line 480, ../../scss/graphics/map.scss */
.canTooltip .tooltip-line {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 3px;
}

/* line 488, ../../scss/graphics/map.scss */
.canTooltip h2 {
  padding: 0;
  margin: 0;
  color: #3d3a3a;
  font-size: 13px;
  text-align: center;
  line-height: 14px;
}

/* line 497, ../../scss/graphics/map.scss */
.canTooltip h2 span {
  font-size: 11px;
  color: #000;
  padding-left: 10px;
}

/* line 503, ../../scss/graphics/map.scss */
.canTooltip p {
  font-size: 10px;
  line-height: 13px;
}

/* line 508, ../../scss/graphics/map.scss */
ul.hubs-list {
  margin: auto;
  position: absolute;
  padding-left: 0px;
  bottom: 150px;
  left: 50px;
  width: 300px;
  background: #fff;
  padding: 0 5px 5px 5px;
  border: solid 1px #ccc;
}

/* line 520, ../../scss/graphics/map.scss */
ul.hubs-list.hidden {
  display: none;
}

/* line 524, ../../scss/graphics/map.scss */
ul.hubs-list li {
  list-style-type: none;
  display: inline-block;
  float: left;
  width: 100%;
  height: 20px;
  vertical-align: top;
  margin-top: 0px;
}

/* line 534, ../../scss/graphics/map.scss */
ul.hubs-list li a {
  font-size: 0.8em;
  text-decoration: none;
}

/* line 539, ../../scss/graphics/map.scss */
ul.hubs-list li span {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

/* line 546, ../../scss/graphics/map.scss */
ul.activities-list {
  margin: auto;
  position: absolute;
  padding-left: 0px;
  bottom: 350px;
  left: 50px;
  width: 275px;
  display: none;
  font-size: 0.9em;
}

/* line 557, ../../scss/graphics/map.scss */
ul.activities-list.hidden {
  display: none;
}

/* line 561, ../../scss/graphics/map.scss */
ul.activities-list li {
  list-style-type: none;
  display: inline-block;
  float: left;
  width: 100%;
  height: 20px;
  vertical-align: top;
  margin-top: 0px;
  font-size: 0.8em;
}

/* line 572, ../../scss/graphics/map.scss */
ul.activities-list li a {
  text-decoration: none;
}

/* line 576, ../../scss/graphics/map.scss */
ul.activities-list li span {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

/* line 584, ../../scss/graphics/map.scss */
ul.activities-list li svg {
  margin-right: 5px;
}

/* line 593, ../../scss/graphics/map.scss */
div#hubActivities h3 {
  text-align: center;
}
/* line 597, ../../scss/graphics/map.scss */
div#hubActivities h4 {
  text-align: left;
  padding: 0;
}
/* line 602, ../../scss/graphics/map.scss */
div#hubActivities .cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 95%;
  height: 600px;
  max-width: 1170px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 611, ../../scss/graphics/map.scss */
div#hubActivities .cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 618, ../../scss/graphics/map.scss */
div#hubActivities #cd-timeline {
  position: relative;
  padding: 2em 0;
  padding-right: 20px;
}
/* line 623, ../../scss/graphics/map.scss */
div#hubActivities #cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 400%;
  width: 4px;
  background: #c5d8e5;
}
@media only screen and (min-width: 1170px) {
  /* line 635, ../../scss/graphics/map.scss */
  div#hubActivities #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
/* line 642, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
/* line 646, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block i.fa {
  font-size: 1.2em;
}
/* line 650, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 656, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block:first-child {
  margin-top: 0;
}
/* line 660, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block:last-child {
  margin-bottom: 0;
}
/* line 667, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block.course .cd-timeline-content {
  float: right;
}
/* line 670, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block.course .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: white;
}
/* line 678, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block.course .cd-timeline-content .cd-read-more {
  float: right;
}
/* line 682, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-block.course .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}
@media only screen and (min-width: 1170px) {
  /* line 642, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-block {
    margin: 1em 0;
  }
  /* line 694, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-block:first-child {
    margin-top: 0;
  }
  /* line 698, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
/* line 704, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-img {
  position: absolute;
  top: 0;
  width: 50px;
  height: 15px;
  left: 50%;
  margin-left: -15px;
  padding: 5px 0 5px;
  text-align: center;
  background: #037AB3;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
/* line 718, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
@media only screen and (min-width: 1170px) {
  /* line 733, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  /* line 737, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 785, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  padding: 1em;
  box-shadow: 0 3px 0 #c5d8e5;
}
/* line 792, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content h2 {
  color: black;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 800, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content p, div#hubActivities .cd-timeline-content .cd-read-more, div#hubActivities .cd-timeline-content .cd-date {
  font-size: 13px;
}
/* line 804, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content .cd-read-more, div#hubActivities .cd-timeline-content .cd-date {
  display: inline-block;
}
/* line 808, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
/* line 813, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content .cd-read-more {
  padding: 2px 7px;
  background: #acb7c0;
  color: white;
  display: block;
  border-radius: 4px;
  font-size: 11px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 824, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content .cd-read-more:hover {
  background: #ccc;
  text-decoration: none;
  color: #000;
}
/* line 830, ../../scss/graphics/map.scss */
.no-touch div#hubActivities .cd-timeline-content .cd-read-more:hover {
  background-color: #c9d0d6;
}
/* line 835, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
/* line 841, ../../scss/graphics/map.scss */
div#hubActivities .cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 1170px) {
  /* line 785, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content {
    margin-left: 0;
    padding: 10px;
    width: 40%;
    				/*.cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block.course .cd-timeline-content{
    					float: right;
    
    					&::before {
    						top: 24px;
    						left: auto;
    						right: 100%;
    						border-color: transparent;
    						border-right-color: $color-3;
    					}
    
    					.cd-read-more {
    						float: right;
    					}
    
    					.cd-date {
    						left: auto;
    						right: 122%;
    						text-align: right;
    					}
    				}*/
  }
  /* line 861, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  /* line 868, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content .cd-read-more {
    float: left;
  }
  /* line 872, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 130%;
    top: -10px;
  }
  /* line 901, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  /* line 905, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  /* line 912, ../../scss/graphics/map.scss */
  div#hubActivities .cd-timeline-content.fade-in {
    visibility: visible;
    -webkit-animation: opacity  0.6s;
    -moz-animation: opacity  0.6s;
    animation: opacity  0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 591, ../../scss/graphics/map.scss */
  div#hubActivities {
    /* inverse bounce effect on even content blocks */
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 967, ../../scss/graphics/map.scss */
.fancybox-type-iframe .fancybox-nav {
  width: 60px;
}

/* line 971, ../../scss/graphics/map.scss */
.fancybox-type-iframe .fancybox-nav span {
  visibility: visible;
  opacity: 0.5;
}

/* line 976, ../../scss/graphics/map.scss */
.fancybox-type-iframe .fancybox-nav:hover span {
  opacity: 1;
}

/* line 980, ../../scss/graphics/map.scss */
.fancybox-type-iframe .fancybox-next {
  right: -60px;
}

/* line 984, ../../scss/graphics/map.scss */
.fancybox-type-iframe .fancybox-prev {
  left: -60px;
}

/* line 989, ../../scss/graphics/map.scss */
.place-label {
  font-size: 0.1em;
  display: none;
}

/* line 994, ../../scss/graphics/map.scss */
.place-label.show {
  display: block;
}

/* line 998, ../../scss/graphics/map.scss */
span.nb_courses {
  font-size: 0.8em;
}

/* line 1002, ../../scss/graphics/map.scss */
table caption {
  text-align: left;
  font-weight: bold;
}

/* line 1007, ../../scss/graphics/map.scss */
table#global_indicators {
  position: absolute;
  bottom: 130px;
  left: 50px;
  border: solid 1px #ccc;
  font-size: 13px;
  display: none;
  width: 25%;
  background: #fff;
}
/* line 1017, ../../scss/graphics/map.scss */
table#global_indicators th {
  background: #037AB3;
  color: #fff;
}
/* line 1020, ../../scss/graphics/map.scss */
table#global_indicators th:first {
  width: 120px;
}
/* line 1025, ../../scss/graphics/map.scss */
table#global_indicators th, table#global_indicators td {
  border: solid 1px #ccc;
  padding: 1px 5px;
  line-height: 15px;
}
/* line 1031, ../../scss/graphics/map.scss */
table#global_indicators td.value {
  text-align: right;
}

/* line 1036, ../../scss/graphics/map.scss */
label[for="show_annotations"] {
  position: absolute;
  width: 150px;
  font-size: 13px;
  left: 50px;
}

/* line 1043, ../../scss/graphics/map.scss */
g.annotation-group {
  display: none;
}

/* line 1047, ../../scss/graphics/map.scss */
a[data-fancybox="gallery"].hidden {
  display: none;
}

/* line 1054, ../../scss/graphics/map.scss */
.annotation path {
  fill: none;
  stroke: #222222;
  stroke-width: 2;
}
/* line 1060, ../../scss/graphics/map.scss */
.annotation text {
  fill: #000000;
}

/* line 1066, ../../scss/graphics/map.scss */
.annotation-note-title {
  font-weight: bold;
}

/* line 1070, ../../scss/graphics/map.scss */
.annotation-note-bg {
  fill: #cccccc;
  fill-opacity: 0.9;
  filter: url(#blur-effect);
}

/* line 1077, ../../scss/graphics/map.scss */
circle.handle {
  stroke-dasharray: 3;
  stroke: #000000;
  fill: rgba(255, 255, 255, 0.5);
  cursor: move;
  stroke-opacity: .4;
  stroke-width: 1.5;
}
/* line 1085, ../../scss/graphics/map.scss */
circle.handle.highlight {
  stroke-opacity: 1;
}

/* line 1090, ../../scss/graphics/map.scss */
.annotation-tip .annotation path {
  stroke: white;
}

/* line 1094, ../../scss/graphics/map.scss */
.annotation-tip .annotation text {
  fill: white;
}
